<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="Login Test">
        <classes>
            <class name="nxtTrendzTests.LoginPageTest">
                <methods>
                    <include name="verifyLoginPage"/>
                    <include name="validCredentials"/>
                    <include name="inValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Registration Test">
        <classes>
            <class name="nxtTrendzTests.RegistrationPageTest">
                <methods>
                    <include name="verifyRegistrationPage"/>
                    <include name="registerDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>